/*
 * Language Switcher
 */
 
.wplng-switcher {
    border-radius: 22px;
    padding: 2px;
}

.wplng-language {
    font-size: 16px;
    line-height: 16px;
    border-radius: 22px;
    padding: 2px 4px;
    margin: 2px;
    text-decoration: none;
}

.wplng-language img {
    width: 22px;
    height: 22px;
}

.wplng-language:hover {
    background-color: rgba(0, 0, 0, .05);
}

/*
 * Insert
 */
 .wplng-switcher.insert-auto {
    position: fixed;
    z-index: 9999;
    bottom: 20px;
}
.wplng-switcher.insert-auto.insert-bottom-right {
    right: 20px;
}
.wplng-switcher.insert-auto.insert-bottom-left {
    left: 20px;
}


/*
 * Themes Light
 */

 .wplng-switcher.theme-light {
    background-color: lightgray;
    border: 2px gray solid;
 }


 .wplng-switcher.theme-light .wplng-language {
    border: 2px solid gray;
    color: black;
}


/*
 * Themes Dark
 */

 .wplng-switcher.theme-dark {
    background-color: darkslategray;
    border: 2px gray solid;
 }


 .wplng-switcher.theme-dark .wplng-language {
    border: 2px solid gray;
    color: white;
}

/*
 * Switcher style
 */
.wplng-switcher.style-list .wplng-language-current,
.wplng-switcher.style-block .wplng-language-current {
     display: none;
}

.wplng-switcher.style-list .wplng-languages .wplng-language {
    display: inline-block;
}

.wplng-switcher.style-block .wplng-languages .wplng-language {
    display: block;
}

/*
 * Name Format
 */ 
.wplng-switcher .language-name,
.wplng-switcher .language-id {
    padding-right: 8px;
    padding-left: 6px;
    display: inline-block;
}

.wplng-switcher .language-id {
    text-transform: uppercase;
}

.wplng-switcher.title-id .language-name,
.wplng-switcher.title-name .language-id,
.wplng-switcher.title-none .language-id,
.wplng-switcher.title-none .language-name {
    display: none;
}

/*
 * Style for editor
 */
.wplng-edit-link {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: inherit;
    line-height: inherit;
    border: 2px dotted gray;
    padding: 0 4px;
}

.entry-content p > .wplng-edit-link {
    display: flex;
}


.wplng-edit-link::after {
    content: "\f326";
    font-family: dashicons;
    display: inline-block;
    line-height: inherit;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-decoration-color: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
    text-align: center;
    margin: 0 4px;
}


