/*
 * Language Switcher
 */

.wplng-switcher {
    position: fixed;
    bottom: 20px;
    background-color: lightgray;
    border-radius: 22px;
    padding: 2px;
    right: 20px;
    border: 2px gray solid;
    z-index: 9999;
}

.wplng-language {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    border: 2px solid gray;
    border-radius: 22px;
    padding: 2px 8px 2px 4px;
    margin: 2px;
    text-decoration: none;
    color: black;
}

.wplng-language img {
    width: 22px;
    height: 22px;
    margin-right: 4px;
}

.wplng-language:hover {
    background-color: rgba(0, 0, 0, .05);
}

/*
 * Style for editor
 */
.wplng-edit-link {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: inherit;
    line-height: inherit;
    border: 2px dotted gray;
    padding: 0 4px;
}

.entry-content p > .wplng-edit-link {
    display: flex;
}


.wplng-edit-link::after {
    content: "\f326";
    font-family: dashicons;
    display: inline-block;
    line-height: inherit;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-decoration-color: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
    text-align: center;
    margin: 0 4px;
}