/*
 * Name Format
 */

.wplng-switcher {

    .language-name,
    .language-id {
        display: inline-block;
        line-height: normal;
        vertical-align: top;
    }

    .language-id {
        text-transform: uppercase;
    }

    img {
        margin: 0 6px 0 -4px;
        filter: drop-shadow(0px 0px 2px rgba(0,0,0,.2));
    }
}

.wplng-switcher.title-id .language-name,
.wplng-switcher.title-name .language-id,
.wplng-switcher.title-none .language-id,
.wplng-switcher.title-none .language-name {
    display: none;
}