/*
 * Name Format
 */

.wplng-switcher {

    .language-name,
    .language-id {
        display: inline-block;
        line-height: normal;
        vertical-align: top;
    }

    .language-id {
        text-transform: uppercase;
    }

    img {
        margin-right: 6px;
    }
}

.wplng-switcher.title-id .language-name,
.wplng-switcher.title-name .language-id,
.wplng-switcher.title-none .language-id,
.wplng-switcher.title-none .language-name {
    display: none;
}