/*
 * Switcher style
 */

.wplng-switcher {

    &.style-list .wplng-language-current,
    &.style-block .wplng-language-current {
        display: none;
    }

    &.style-list .wplng-languages .wplng-language {
        display: inline-block;
    }

    &.style-block .wplng-languages .wplng-language {
        display: block;
    }

    /**
     * Style Dropdown
     **/

    &.style-dropdown {

        min-height: 38px;

        .switcher-content {

            position: absolute;
            right: 0;
            left: 0;
            z-index: 9999;

            .wplng-languages {

                height: 0;
                overflow: hidden;

                .wplng-language.current {
                    display: none;
                }

            }

            .wplng-language {
                display: block;
            }

            .wplng-language-current {
                background-repeat: no-repeat;
                background-position: calc(100% - 4px) center;
                padding-right: 28px;
            }

            &:hover .wplng-languages {
                height: auto;
            }
        }

        &.open-top .switcher-content {
            bottom: 0;
        }

        &.insert-auto {
            .switcher-content {
                position: initial;
            }
        }

        

    }

    /**
     * Set min height if container witdh not set
     **/

    &.title-name,
    &.title-original {
        min-width: 180px;
    }

    &.title-id {
        min-width: 100px;
    }

    &.title-id.flags-none,
    &.title-none {
        min-width: 80px;
    }

}