/*
 * Themes Light / Dark
 */

.wplng-switcher.style-dropdown {

    .wplng-language-current {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6l5 5 5-5 2 1-7 7-7-7 2-1z' fill='%231d2327'/%3E%3C/svg%3E");
    }

    &.theme-dark-double-smooth,
    &.theme-dark-double-square,
    &.theme-dark-simple-smooth,
    &.theme-dark-simple-square,
    &.theme-blurwhite-double-square,
    &.theme-blurwhite-simple-square,
    &.theme-blurwhite-double-smooth,
    &.theme-blurwhite-simple-smooth {

        .wplng-language-current {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6l5 5 5-5 2 1-7 7-7-7 2-1z' fill='%23fff'/%3E%3C/svg%3E");
        }

    }

}

.wplng-switcher {

    .wplng-languages .wplng-language:hover {
        background-color: rgba(0, 0, 0, .1);
    }

    &.theme-dark-double-smooth,
    &.theme-dark-double-square,
    &.theme-dark-simple-smooth,
    &.theme-dark-simple-square {

        .wplng-languages .wplng-language:hover {
            background-color: rgba(255, 255, 255, .1);
        }

    }

}


/* Themes Blur Light Double Square */
.wplng-switcher.theme-blurwhite-double-square {

    .switcher-content {

        backdrop-filter: blur(25px) saturate(100%);
        background: hsla(0, 0%, 100%, 0);
        border: 1px solid white;
        border-radius: 0;

        .wplng-language {
            border: 1px solid white;
            color: white;
            border-radius: 0;
        }

    }

}

/* Themes Blur Light Simple Square */
.wplng-switcher.theme-blurwhite-simple-square {

    .switcher-content {

        backdrop-filter: blur(25px) saturate(100%);
        background: hsla(0, 0%, 100%, 0);
        border: 1px solid white;
        border-radius: 0;

        .wplng-language {
            color: white;
        }

    }

}


/* Themes Blur Dark Double Square */
.wplng-switcher.theme-blurblack-double-square {

    .switcher-content {

        backdrop-filter: blur(25px) saturate(100%);
        background: hsla(0, 0%, 100%, 0);
        border: 1px solid #1d2327;
        border-radius: 0;

        .wplng-language {
            border: 1px solid #1d2327;
            color: #1d2327;
            border-radius: 0;
        }

    }

}


/* Themes Blur Light Double Smooth */
.wplng-switcher.theme-blurwhite-double-smooth {

    .switcher-content {

        backdrop-filter: blur(25px) saturate(100%);
        background: hsla(0, 0%, 100%, 0);
        border: 1px solid white;
        border-radius: 9px;

        .wplng-language {
            border: 1px solid white;
            color: white;
            border-radius: 6px;
        }

    }

}

/* Themes Blur Light Simple Smooth */
.wplng-switcher.theme-blurwhite-simple-smooth {

    .switcher-content {

        backdrop-filter: blur(25px) saturate(100%);
        background: hsla(0, 0%, 100%, 0);
        border: 1px solid white;
        border-radius: 9px;

        .wplng-language {
            color: white;
            border-radius: 6px;
        }

    }

}


/* Themes Blur Dark Double Smooth */
.wplng-switcher.theme-blurblack-double-smooth {

    .switcher-content {

        backdrop-filter: blur(25px) saturate(100%);
        background: hsla(0, 0%, 100%, 0);
        border: 1px solid #1d2327;
        border-radius: 9px;

        .wplng-language {
            border: 1px solid #1d2327;
            color: #1d2327;
            border-radius: 6px;
        }

    }

}

/* Themes Blur Dark Simple Smooth */
.wplng-switcher.theme-blurblack-simple-smooth {

    .switcher-content {

        backdrop-filter: blur(25px) saturate(100%);
        background: hsla(0, 0%, 100%, 0);
        border: 1px solid #1d2327;
        border-radius: 9px;

        .wplng-language {
            color: #1d2327;
            border-radius: 6px;
        }

    }

}

/* Themes Blur Dark Simple Square */
.wplng-switcher.theme-blurblack-simple-square {

    .switcher-content {

        backdrop-filter: blur(25px) saturate(100%);
        background: hsla(0, 0%, 100%, 0);
        border: 1px solid #1d2327;
        border-radius: 0;

        .wplng-language {
            color: #1d2327;
        }

    }

}

/* Themes Light Double Square */
.wplng-switcher.theme-light-double-square {

    .switcher-content {

        background-color: white;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 0;

        .wplng-language {
            border: 1px solid rgba(0, 0, 0, .25);
            color: #1d2327;
            border-radius: 0;
        }

    }

}

/* Themes Light Simple Square */
.wplng-switcher.theme-light-simple-square {

    .switcher-content {

        background-color: white;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 0;

        .wplng-language {
            color: #1d2327;
        }

    }

}

/* Themes Grey Double Square */
.wplng-switcher.theme-grey-double-square {

    .switcher-content {

        background-color: #f0f0f1;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 0;

        .wplng-language {
            border: 1px solid rgba(0, 0, 0, .25);
            color: #1d2327;
            border-radius: 0;
        }

    }

}

/* Themes Grey Simple Square */
.wplng-switcher.theme-grey-simple-square {

    .switcher-content {

        background-color: #f0f0f1;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 0;

        .wplng-language {
            color: #1d2327;
        }

    }

}

/* Themes Dark Double Square */
.wplng-switcher.theme-dark-double-square {

    .switcher-content {

        background-color: #1d2327;
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 0;

        .wplng-language {
            border: 1px solid rgba(255, 255, 255, .24);
            color: white;
            border-radius: 0;
        }

    }

}


/* Themes Light Double Smooth */
.wplng-switcher.theme-light-double-smooth {

    .switcher-content {

        background-color: white;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 9px;

        .wplng-language {
            border: 1px solid rgba(0, 0, 0, .25);
            color: #1d2327;
            border-radius: 6px;
        }

    }

}

/* Themes Light Simple Smooth */
.wplng-switcher.theme-light-simple-smooth {

    .switcher-content {

        background-color: white;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 9px;

        .wplng-language {
            color: #1d2327;
            border-radius: 6px;
        }

    }

}

/* Themes Grey Double Smooth */
.wplng-switcher.theme-grey-double-smooth {

    .switcher-content {

        background-color: #f0f0f1;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 9px;

        .wplng-language {
            border: 1px solid rgba(0, 0, 0, .25);
            color: #1d2327;
            border-radius: 6px;
        }

    }

}

/* Themes Grey Simple Smooth */
.wplng-switcher.theme-grey-simple-smooth {

    .switcher-content {

        background-color: #f0f0f1;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 9px;

        .wplng-language {
            color: #1d2327;
            border-radius: 6px;
        }

    }

}

/* Themes Dark Double Smooth */
.wplng-switcher.theme-dark-double-smooth {

    .switcher-content {

        background-color: #1d2327;
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 9px;

        .wplng-language {
            border: 1px solid rgba(255, 255, 255, .24);
            color: white;
            border-radius: 6px;
        }

    }

}

/* Themes Dark Simple Smooth */
.wplng-switcher.theme-dark-simple-smooth {

    .switcher-content {

        background-color: #1d2327;
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 9px;

        .wplng-language {
            color: white;
            border-radius: 6px;
        }

    }

}

/* Themes Dark Simple Square */
.wplng-switcher.theme-dark-simple-square {

    .switcher-content {

        background-color: #1d2327;
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 0;

        .wplng-language {
            color: white;
        }

    }

}