/*!*
 ** wpLingua
 **/.wplng-fe-50{min-width:220px;max-width:100%}h1 .dashicons{font-size:1.1em;line-height:inherit;width:1.1em;height:1.1em}#wpbody label{vertical-align:baseline}#wplng-api-key-fake,#wplng_api_key{max-width:100%;width:26em}notice{display:none}.notice.wplng-notice{display:block}