
@keyframes text-loading {
    0% {
        opacity: .2;
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: .2;
    }
}

.wplng-in-progress-text {
    animation: text-loading 2s infinite;
    animation-timing-function: linear;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -200% 0;
    }
}

#wplng-in-progress-container {

    position: fixed;
    top: 0;
    width: 100%;
    height: 32px;
    line-height: 22px;
    color: #f0f0f1;
    background-color: #1d2327;
    z-index: 1000000;
    text-align: center;
    font-weight: 600;

    #wplng-progress-bar {

        position: absolute;
        bottom: 1px;
        height: 6px;
        background-color: rgba(255, 255, 255, .25);
        width: 100%;

        #wplng-progress-bar-value {
            height: 5px;
            background: repeating-linear-gradient(to right, #66f4e6 0%, #E795ED 50%, #66f4e6 100%);
            min-width: 10%;
            background-size: 200% auto;
            background-position: 0 100%;
            animation: gradient 2s infinite;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
    }

    #wplng-in-progress-text-mobile {
        display: none;
    }

    #wplng-in-progress-text-desktop {
        display: inline;
    }
}



@media screen and (max-width: 782px) {
    #wplng-in-progress-container {
        height: 46px;
        line-height: 42px;

        #wplng-in-progress-message {
            .wplng-spin {
                position: relative;
                top: 10px;
            }
        }

        #wplng-in-progress-text-mobile {
            display: inline;
        }
    
        #wplng-in-progress-text-desktop {
            display: none;
        }
    }
}