/*
 * Language Switcher
 */

@import "header";

.wplng-switcher {
    pointer-events: none;

    .switcher-content {
        // border-radius: 22px;
        padding: 2px;
        text-align: center;
        pointer-events: auto;

        .wplng-language {
            font-size: 16px;
            line-height: 16px;
            // border-radius: 22px;
            padding: 2px 4px;
            margin: 2px;
            text-decoration: none;
            text-align: left;

            &:hover {
                background-color: rgba(0, 0, 0, .05);
            }

            img {
                width: 22px;
                height: 22px;
            }
        }
    }
}



/*
 * Insert
 */
.wplng-switcher.insert-auto {
    position: fixed;
    z-index: 9999;
    bottom: 20px;

    /* Insert Bottom Right */
    &.insert-bottom-right {
        right: 20px;
    }

    /* Insert Bottom Left */
    &.insert-bottom-left {
        left: 20px;
    }

    /* Insert Bottom Center */
    &.insert-bottom-center {
        width: 100%;
        text-align: center;

        .switcher-content {
            display: inline-block;
        }
    }

}



/*
 * Themes Light / Dark
 */

/* Themes Square Light */
.wplng-switcher.theme-square-light {
    .switcher-content {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 0;

        .wplng-language {
            border: 1px solid rgba(0, 0, 0, .25);
            color: #1d2327;
            border-radius: 0;
        }
    }
}

/* Themes Square Grey */
.wplng-switcher.theme-square-grey {
    .switcher-content {
        background-color: #f0f0f1;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 0;

        .wplng-language {
            border: 1px solid rgba(0, 0, 0, .25);
            color: #1d2327;
            border-radius: 0;
        }
    }
}


/* Themes Square Dark */
.wplng-switcher.theme-square-dark {
    .switcher-content {
        background-color: #1d2327;
        border: 1px solid rgba(256, 256, 256, .25);
        border-radius: 0;

        .wplng-language {
            border: 1px solid rgba(256, 256, 256, .24);
            color: white;
            border-radius: 0;
        }
    }
}


/* Themes Smooth Light */
.wplng-switcher.theme-smooth-light {
    .switcher-content {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 10px;

        .wplng-language {
            border: 1px solid rgba(0, 0, 0, .25);
            color: #1d2327;
            border-radius: 7px;
        }
    }
}

/* Themes Smooth Grey */
.wplng-switcher.theme-smooth-grey {
    .switcher-content {
        background-color: #f0f0f1;
        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 10px;

        .wplng-language {
            border: 1px solid rgba(0, 0, 0, .25);
            color: #1d2327;
            border-radius: 7px;
        }
    }
}

/* Themes Smooth Dark */
.wplng-switcher.theme-smooth-dark {
    .switcher-content {
        background-color: #1d2327;
        border: 1px solid rgba(256, 256, 256, .25);
        border-radius: 10px;

        .wplng-language {
            border: 1px solid rgba(256, 256, 256, .24);
            color: white;
            border-radius: 7px;
        }
    }
}


/*
 * Switcher style
 */
.wplng-switcher {

    &.style-list .wplng-language-current,
    &.style-block .wplng-language-current {
        display: none;
    }

    &.style-list .wplng-languages .wplng-language {
        display: inline-block;
    }

    &.style-block .wplng-languages .wplng-language {
        display: block;
    }




    &.style-dropdown {

        .wplng-language {
            display: block;
        }

        .wplng-languages {
            height: 0;
            overflow: hidden;

            .wplng-language.current {
                display: none;
            }

        }

        .switcher-content:hover {
            .wplng-languages {
                height: auto;
            }
        }

        .wplng-language-current {
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E');
            background-repeat: no-repeat;
            background-position: calc(100% - 4px) center;
            padding-right: 22px;
        }

    }
}



/*
 * Name Format
 */
.wplng-switcher .language-name,
.wplng-switcher .language-id {
    padding-right: 8px;
    padding-left: 6px;
    display: inline-block;
}

.wplng-switcher .language-id {
    text-transform: uppercase;
}

.wplng-switcher.title-id .language-name,
.wplng-switcher.title-name .language-id,
.wplng-switcher.title-none .language-id,
.wplng-switcher.title-none .language-name {
    display: none;
}

/*
 * Style for editor
 */
.wplng-edit-link {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: inherit;
    line-height: inherit;
    border: 2px dotted gray;
    padding: 0 4px;
}

.entry-content p>.wplng-edit-link {
    display: flex;
}


.wplng-edit-link::after {
    content: "\f326";
    font-family: dashicons;
    display: inline-block;
    line-height: inherit;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-decoration-color: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
    text-align: center;
    margin: 0 4px;
}