@use "header";
@use "dashicons-spin";
@use "front/flags-style";
@use "front/insert";
@use "front/name-format";
@use "front/style";
@use "front/theme";
@use "admin-bar";
@use "in-progress";
@use "overloaded";

/*
 * Language Switcher
 */

.wp-block .wplng-switcher,
.wplng-switcher {

    pointer-events: none;
    position: relative;

    .switcher-content {

        padding: 2px;
        text-align: center;
        pointer-events: auto;

        .wplng-language {

            font-size: 16px;
            line-height: 16px;
            padding: 2px 6px 2px 0;
            margin: 2px;
            text-decoration: none;
            text-align: left;

            img {
                box-sizing: content-box;
                width: 22px;
                height: 22px;
                margin-left: 6px;
                vertical-align: baseline;
                filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .2));
                display: inline;
                vertical-align: unset;
                border: none;
            }

        }

        // Fix Gutenberg aberation on shortcode
        p {
            display: none;
            margin: 0;
            padding: 0;
            height: 0;
            width: 0;
        }

    }

}

a[data-wplng-flag] {
    display: inline-block;
}

.wplingua-menu .wplng-menu-flag {
    max-width: 1.2em;
    max-height: 1.2em;
    margin-right: .2em;
    display: inline;
    line-height: 1em;
    vertical-align: sub;
    border: none;
}

.wplng-block-attributes {
    border-top: 1px solid rgb(221, 221, 221);
    margin-top: -1px;
    padding: 16px;

    label.components-text.components-input-control__label {
        text-transform: none;
    }
}
