/*
 * Language Switcher
 */

@import "header";

.wplng-switcher {
    pointer-events: none;

    .switcher-content {
        padding: 2px;
        text-align: center;
        pointer-events: auto;

        .wplng-language {
            font-size: 16px;
            line-height: 16px;
            padding: 2px 4px;
            margin: 2px;
            text-decoration: none;
            text-align: left;

            &:hover {
                background-color: rgba(0, 0, 0, .05);
            }

            img {
                width: 22px;
                height: 22px;
            }
        }
    }
}

@import "front/editor";
@import "front/flags-style";
@import "front/insert";
@import "front/name-format";
@import "front/style";
@import "front/theme";