/** 
 ** modal
 **/

.wplng-button-icon {
    display: block;
    font-size: 13px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;

    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;

    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px;

    &:focus,
    &:hover {
        background: #135e96;
        border-color: #135e96;
        color: #fff;
    }
}

body {
    overflow: hidden;

    #wplng-modal-container {
        display: block;
    }
}

#wplng-modal-container {

    display: none;

    background-color: rgba(255, 255, 255, .8);
    padding: 0 15px;
    margin-top: 30px; // Admin bar
    // TODO : Revoir pour responsive

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99998; // Admin bar z-index - 1
    overflow: auto;

    #wplng-modal {

        width: 100%;
        max-width: 720px;
        margin: 60px auto;

        #wplng-modal-header {
            border: 1px solid #c3c4c7;
            background-color: white;
            padding: 15px;
            border-radius: 3px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 20px rgba(0, 0, 0, 0.15);
            margin-bottom: 15px;
        }

        #wplng-modal-items {

            border: 1px solid #c3c4c7;
            background-color: white;
            padding: 15px;
            border-radius: 3px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 20px rgba(0, 0, 0, 0.15);

            .wplng-modal-item {
                border: 1px solid #c3c4c7;
                border-radius: 3px;
                background-color: #f6f7f7;
                box-shadow: rgba(0, 0, 0, .04) 0 1px 1px 0;
                margin-bottom: 15px;
                padding: 8px 0;

                display: flex;
                align-items: stretch;

                .wplng-item-text {

                    width: calc(100% - 41px);
                    display: flex;

                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.5em;

                    .wplng-item-source,
                    .wplng-item-translation {
                        width: 50%;
                        padding: 4px 10px;
                    }

                    .wplng-item-translation {
                        border-left: 1px solid #c3c4c7;
                    }
                }

                .wplng-item-edit {
                    padding: 0 10px;
                }
            }
        }

    }
}