
.wplng-fe-50 {
    min-width: 49%;
    display: inline-block;
}

.wplng-option-page-title {
    background-color: #f6f7f7;
    font-size: 20px;
    margin: 0 0 0 -20px;
    padding: 15px 25px;
    line-height: 22px;
    font-weight: 500;
    box-shadow: 0 0 8px rgba(0,0,0,.05);
    border-bottom: 1px solid #c3c4c7;
    text-align: center;

    .dashicons {
        font-size: 1.1em;
        line-height: inherit;
        width: 1.1em;
        height: 1.1em;
    }
}

.wplng-icon-button {

    width: 45px;
    text-align: center;

    .dashicons {
        line-height: 1.4em;
    }

}

#wpbody label {
    vertical-align: baseline;
}

.notice:not(.wplng-notice) {
    display: none !important;
}

.wplng-form-table {

    padding-right: 200px;
    border-collapse: initial;
    margin-top: 30px;

    * {
        box-sizing: border-box;
    }

    td {

        padding: 15px;
        background-color: #f6f7f7;
        display: block;
        border: 1px solid #c3c4c7;
        margin-bottom: 25px;
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 0 8px rgba(0, 0, 0, .05);
        border-radius: 3px;

        .button {
            vertical-align: bottom;
        }

        p {
            margin-bottom: 8px;
        }

        fieldset {
            display: block;
        }

    }

    .wplng-tr-submit {
        td {

            border: none;
            box-shadow: none;
            background-color: unset;
            padding: 0;

            p.submit {
                padding: 0 0 64px;

                #submit {
                    width: 100%;
                    box-shadow: 0 0 8px rgba(0, 0, 0, .05);
                    min-height: 42px;
                    font-size: 14px;
                }
            }
        }
    }

}

#wpfooter {

    background-color: #f6f7f7;
    box-shadow: 0 0 8px rgba(0,0,0,.05);
    border-top: 1px solid #c3c4c7;
    padding: 15px 25px;

    .dashicons {
        line-height: 1.1em;
    }
}

@media screen and (max-width: 1120px) {

    #wpbody-content h1 {
        text-align: center;
    }

    .wplng-form-table {

        padding-right: 0;

        th,
        td {
            max-width: 540px;
            margin-right: auto;
            margin-left: auto;
            display: block;
        }

        th {
            padding: 25px 0 20px;
            font-size: 1.2em;
            width: 100%;
        }

        td {
            .button.wplng-icon-button {

                vertical-align: top;
                padding: 0;

                .dashicons {
                    vertical-align: middle;
                    line-height: .8em;
                }

            }

        }

        .wplng-tr-submit {

            th {
                display: none;
            }

            td {
                p.submit {
                    padding: 10px 0 42px;
                    font-size: 14px;
                }
            }
        }

    }

}