.wplng-flex-container {

    --wplng-flex-gap: 0.5rem;

    .wplng-flex-row {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: var(--wplng-flex-gap);

        >.wplng-flex-item {
            box-sizing: border-box;
            min-width: 0;
            flex: 0 0 calc(50% - (var(--wplng-flex-gap) / 2));
            max-width: calc(50% - (var(--wplng-flex-gap) / 2));
        }
    }
}

@media screen and (max-width: 600px) {
    .wplng-flex-container {


        .wplng-flex-row {

            >.wplng-flex-item {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

.wplng-width-full {
    width: 100%;
    display: block;
}

.wplng-spacing-top {
    margin-top: 8px;
}

.wplng-spacing-bottom {
    margin-bottom: 8px;
}

.wplng-spacing-top-bottom {
    margin-top: 8px;
    margin-bottom: 8px;
}

.wplng-tag-code {
    min-height: 33.3px;
    line-height: 2rem;
    border-radius: 3px;
    padding: 0 12px;
}

.wplng-option-page-title {
    background-color: #f6f7f7;
    font-size: 20px;
    margin: 0 0 0 -20px;
    padding: 15px 25px;
    line-height: 22px;
    font-weight: 500;
    box-shadow: 0 0 8px rgba(0, 0, 0, .05);
    border-bottom: 1px solid #c3c4c7;
    text-align: center;

    .dashicons {
        font-size: 1.1em;
        line-height: inherit;
        width: 1.1em;
        height: 1.1em;
    }
}

.button.wplng-icon-button {

    width: 45px;
    text-align: center;
    padding: 0;
    height: 33.3px;
    min-height: 33.3px;
    max-height: 33.3px;
    line-height: 1.2;
    border-radius: 3px;

    .dashicons {
        line-height: 1.9rem;
    }

}

#wpbody label {
    vertical-align: baseline;
}

body .wplng-form-table {

    padding-right: 200px;
    border-collapse: initial;
    margin-top: 30px;

    * {
        box-sizing: border-box;
    }

    a {

        text-decoration: none;

        &:focus {
            box-shadow: none;
            outline: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }



    // .button, 
    // .button-primary, 
    // .button-secondary,
    select,
    input[type="date"],
    input[type="datetime-local"],
    input[type="datetime"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"] {
        line-height: 1.2;
        min-height: 33.3px;
        max-height: 33.3px;
        border-radius: 3px;
    }

    input[type="checkbox"] {
        border-radius: 3px;
    }

    td {

        padding: 15px;
        background-color: #f6f7f7;
        display: block;
        border: 1px solid #c3c4c7;
        margin-bottom: 25px;
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0 0 8px rgba(0, 0, 0, .05);
        border-radius: 3px;

        .button {
            vertical-align: bottom;

            &:focus,
            &:hover {
                text-decoration: none;
            }
        }

        p {
            margin-bottom: 8px;
        }

        fieldset {
            display: block;
        }

    }

    .wplng-tr-submit {
        td {

            border: none;
            box-shadow: none;
            background-color: unset;
            padding: 0;

            p.submit {
                padding: 0 0 64px;

                #submit {
                    width: 100%;
                    box-shadow: 0 0 8px rgba(0, 0, 0, .05);
                    min-height: 42px;
                    font-size: 14px;
                }
            }
        }
    }

}

@media screen and (max-width: 1120px) {

    #wpbody-content h1 {
        text-align: center;
    }

    body .wplng-form-table {

        padding-right: 0;

        th,
        td {
            max-width: 540px;
            margin-right: auto;
            margin-left: auto;
            display: block;
        }

        th {
            padding: 25px 0 20px;
            font-size: 1.2em;
            width: 100%;
        }

        td {
            .button.wplng-icon-button {

                vertical-align: top;
                padding: 0;

                .dashicons {
                    vertical-align: middle;
                    line-height: .8em;
                }

            }

        }

        .wplng-tr-submit {

            th {
                display: none;
            }

            td {
                p.submit {
                    padding: 10px 0 42px;
                    font-size: 14px;
                }
            }
        }

    }

}


// --------------------------------------------------------------
// Hide other plusgins ads and notices
// --------------------------------------------------------------


// Plugin: /backup-backup/
#nri-slug-wrapper,
// Plugin: /advanced-post-block/
.fs_notice_board,
.notice:not(.wplng-notice) {
    display: none !important;
}