@use "../header";
@use "../dashicons-spin";
@use "admin-footer";

#wpbody #wpbody-content {
    h1.wp-heading-inline {
        &::before {
            content: "\f326";
            font: normal 20px/1 dashicons;
            speak: never;
            display: inline-block;
            padding-right: 3px;
            font-size: 1.1em;
            vertical-align: bottom;
        }
    }

    #poststuff {
        padding-top: 20px;
    }
}

#post-body-content {
    display: none;
}

#wplng-translation-editor {

    color: #3c434a;

    #wplng-source-title {
        font-weight: 600;
        margin: 0 0 15px 0;
    }

    .wplng-flag {
        max-width: 1.5em;
        max-height: 1.5em;
        height: auto;
        margin: 0 .4em 0 0;
        vertical-align: text-top;
        display: inline-block;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
    }

    #wplng-source {
        font-size: 14px;
        line-height: 1.4em;
    }

    #wplng-original-language {
        margin: 20px 0 0;
    }

    .wplng-edit-language {

        border: 1px solid #c3c4c7;
        padding: 10px;
        margin-top: 25px;
        background-color: #f6f7f7;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px 0px;
        font-size: 14px;

        &.wplng-status-reviewed {
            border-left: 4px #00a32a solid;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.wplng-status-generated {
            border-left: 4px #72aee6 solid;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.wplng-status-ungenerated {
            border-left: 4px #c3c4c7 solid;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        label.wplng-target-title {
            font-weight: 600;
            margin-bottom: 8px;
            display: block;
        }

        textarea {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            box-sizing: border-box;
            overflow: hidden;
            width: 100%;
            resize: none;
            box-shadow: 0 0 0 transparent;
            border-radius: 4px;
            border: 1px solid #8c8f94;
            background-color: #fff;
            padding: 2px 6px;
            line-height: 1.5em;
            font-size: inherit;
            min-height: 30px;
        }

        .wplng-translation-footer {

            color: #3c434a;
            display: flex;
            justify-content: space-between;
            margin-top: 4px;

            a {
                color: #135e96;
                text-decoration: underline;
                margin: 0;
                padding: 0;
                text-decoration: underline;
                line-height: 1em;

                &:focus {
                    box-shadow: none;
                }
            }

            .wplng-generate-spin {
                vertical-align: middle;
                margin: 0;
                padding: 0;
            }

            .wplng-mark-as-reviewed {

                display: inline-block;
                border: none;
                padding: 0;
                margin: 0;

                label {
                    color: #2271b1;
                    display: contents;
                    text-decoration: underline;
                    display: inline;
                    vertical-align: baseline;
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                    line-height: 1em;
                    cursor: pointer;
                }

                input[type="checkbox"] {
                    border: 1px solid #8c8f94;
                    border-radius: 4px;
                    background: #fff;
                    color: #50575e;
                    clear: none;
                    cursor: pointer;
                    display: inline-block;
                    line-height: 1em;
                    height: 16px;
                    margin: 0 6px 0 0;
                    margin-bottom: 0px;
                    outline: 0;
                    padding: 0 !important;
                    text-align: center;
                    width: 16px;
                    min-width: 16px;
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
                    transition: .05s border-color ease-in-out;
                    -webkit-appearance: checkbox;
                    vertical-align: middle;
                }
            }

        }

    }

    #wplng-discovery-url {
        margin: 10px 0 0;
    }
}


@media only screen and (max-width: 850px) {
    #wplng-translation-editor {
        .wplng-edit-language {
            .wplng-translation-footer {

                display: block;
                margin-top: 0;

                .wplng-translation-footer-left,
                .wplng-translation-footer-right {
                    padding-top: 8px;
                }
            }
        }
    }
}