@import "../header";
@import "admin-footer";

#wpbody #wpbody-content {
    h1.wp-heading-inline {
        &::before {
            content: "\f326";
            font: normal 20px/1 dashicons;
            speak: never;
            display: inline-block;
            padding-right: 3px;
            font-size: 1.1em;
            vertical-align: bottom;
        }
    }
}

/**
* wpLingua: slug status design
*/

.manage-column.column-wplng_status {
    width: 20px;
    padding: 8px 0 0 8px;
    font-size: 0;
    vertical-align: middle;
    box-sizing: content-box;
}

.wp-list-table tr td.wplng_status.column-wplng_status::before {
    content: "" !important;
    display: none;
}

#the-list .type-wplng_slug .wplng_status.column-wplng_status {
    padding: 8px 4px;
}

.manage-column.column-wplng_status::before {
    content: "\f326";
    font-family: dashicons;
    font-size: 16px;
}

#the-list .type-wplng_slug .wplng-status-text {
    color: #1d2327;
}

#the-list .type-wplng_slug .wplng-status-text .wplng-status {
    font-weight: 600;
}

/* ------------------------------- */

#the-list .type-wplng_slug .wplng-status.wplng-status-full-review  {
    color: #00a32a;
}

#the-list .type-wplng_slug .wplng-status.wplng-status-has-review  {
    color: #72aee6;
}

#the-list .type-wplng_slug .wplng-status.wplng-status-unreview {
    color: #c3c4c7;
}

#the-list .type-wplng_slug .wplng-status-text .wplng-status.wplng-status-unreview {
    color: #1d2327;
}

/* ------------------------------- */

#the-list .type-wplng_slug.wplng-status-full-review .wplng-status.wplng-status-has-review,
#the-list .type-wplng_slug.wplng-status-full-review .wplng-status.wplng-status-unreview,
#the-list .type-wplng_slug.wplng-status-has-review .wplng-status.wplng-status-full-review,
#the-list .type-wplng_slug.wplng-status-has-review .wplng-status.wplng-status-unreview,
#the-list .type-wplng_slug.wplng-status-unreview .wplng-status.wplng-status-full-review,
#the-list .type-wplng_slug.wplng-status-unreview .wplng-status.wplng-status-has-review {
    display: none;
}
