@import "../header";
@import "../dashicons-spin";

#wplng-target-language-template,
#wplng_target_languages,
#wplng-flags-radio-original-website-custom,
#wplng-website-flag-container,
.wplng-flag-target-container,
.wplng-subflag-target-custom.hide {
    display: none;
}

.wplng-subflag-target-custom {
    margin-top: 15px;
}

.wplng-target-language img.wplng-target-language,
.wplng-flags-radio img,
.wplng-subflags-radio img {
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
}

.wplng-flags-radio,
.wplng-subflags-radio {
    padding-left: 15px;
    display: inline-block;
}

.wplng-target-language {
    padding-right: 15px;
    width: auto;
}

.button .dashicons {
    line-height: 1.4em;
}
