@use "../header";
@use "admin-footer";
@use "help-box";
@use "option-page";

#wplng_dictionary_entries {
    width: 100%;
    height: 150px;
}

.wplng-flag {
    max-width: 1.5em;
    max-height: 1.5em;
    height: auto;
    margin-right: .4em;
    vertical-align: text-top;
    display: inline;
}

textarea.wplng-adaptive-textarea {
    overflow: hidden;
    width: 100%;
    resize: none;
    line-height: 1;
}

p.submit,
#submit {
    display: none;
}

#wplng-dictionary-entries {

    margin-top: 5px;

    .wplng-dictionary-entry {

        border: 1px solid #c3c4c7;
        padding: 5px 10px 8px 6px;
        margin-bottom: 15px;
        background-color: #fff;
        border-radius: 3px;

        .wplng-rule-header {
            display: flex;
            justify-content: space-between;

            .wplng-rule-link-remove::before {
                content: "|";
                display: inline;
                color: #8c8f94;
                text-decoration: none;
                margin-right: 5px;
                font-weight: lighter;
            }
        }
    }
}

#wplng-new-rule-button {
    width: 100%;
    text-align: center;
}

#wplng-dictionary-entry-new {
    #wplng-new-action-section {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}

#wplng-dictionary-entry-edit {
    #wplng-edit-action-section {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}


#wplng-section-dictionary-update-translations {

    .button {
        width: 100%;
        text-align: center;
    }

    .wplng-dictionary-text-to-update-entry {
        border: 1px solid #c3c4c7;
        padding: 5px 10px 8px 6px;
        margin-bottom: 15px;
        background-color: #fff;
        border-radius: 3px;

        .wplng-dictionary-update-state {
            color: #c3c4c7;

            &::before {
                content: "\f12a";
            }
        }

        .wplng-dictionary-text-to-update {
            margin: 0;
        }

        &.progress {
            border-color: #72aee6;

            .wplng-dictionary-update-state {
                color: #72aee6;

                &::before {
                    content: "\f463";
                }
            }
        }

        &.done {
            border-color: #00a32a;

            .wplng-dictionary-update-state {
                color: #00a32a;

                &::before {
                    content: "\f12a";
                }
            }
        }

        &.error {
            border-color: #ffa500;

            .wplng-dictionary-update-state {
                color: #ffa500;

                &::before {
                    content: "\f534";
                }
            }
        }

        .wplng-dictionary-update-ajax-error-message {
            background-color: rgba(255, 165, 0, .75);
            border: 1px solid #ffa500;
            border-radius: 3px;
            padding: 4px 8px;
            margin-top: 10px;
        }
    }
}