@import "../header";

.wplng-fe-50 {
    min-width: 49%;
    // max-width: 100%;
    display: inline-block;
}

h1 .dashicons {
    font-size: 1.1em;
    line-height: inherit;
    width: 1.1em;
    height: 1.1em;
}

.wplng-icon-button {
    width: 45px;
    text-align: center;

    .dashicons {
        line-height: 1.4em;
    }
}

#wpbody label {
    vertical-align: baseline;
}

.notice {

    display: none;

    &.wplng-notice {
        display: block;
    }
}

.wplng-form-table {

    border-collapse: initial;

    * {
        box-sizing: border-box;
    }

    td {

        .button {
            vertical-align: bottom;
        }
    
        p {
            padding-bottom: 8px;
        }

        padding: 15px;
        background-color: #f6f7f7;
        display: block;
        margin-bottom: 25px;
        border: 1px solid #c3c4c7;
        max-width: 520px;
    }

}