@use "../header";
@use "admin-footer";
@use "help-box";
@use "option-page";

.CodeMirror.CodeMirror-wrap {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #8c8f94;
    border-radius: 3px;
}

.wplng-switcher-preview .wplng-switcher.switcher-preview {

    position: relative;

    .switcher-content {
        display: inline-block;
    }

    &.style-dropdown {

        .switcher-content {
            position: absolute;
            right: auto;
            left: auto;
        }

    }

}