@import "../header";
@import "option-page";

.wplng-flag {
    max-width: 1.5em;
    max-height: 1.5em;
    height: auto;
    margin-right: .4em;
    vertical-align: text-top;
    display: inline;
}

#wplng-section-entry-edit input[type="text"],
#wplng-link-media-entry-new input[type="text"] {
    overflow: hidden;
    width: 100%;
    resize: none;
}

p.submit,
#submit {
    display: none;
}

#wplng-link-media-entries {

    margin-top: 5px;
    
    .wplng-link-media-entry {

        border: 1px solid #c3c4c7;
        padding: 5px 10px 8px 6px;
        margin-bottom: 15px;
        background-color: #fff;
        border-radius: 3px;

        .wplng-rule-header {
            display: flex;
            justify-content: space-between;

            .wplng-rule-link-remove::before {
                content: "|";
                display: inline;
                color: #8c8f94;
                text-decoration: none;
                margin-right: 5px;
                font-weight: lighter;
            }
        }
    }   
}

#wplng-new-rule-button {
    width: 100%;
    text-align: center;
}

#wplng-link-media-entry-new {
    #wplng-new-action-section {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}

#wplng-link-media-entry-edit {
    #wplng-edit-action-section {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
}