.wplng-form-table {

    .button {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    #wplng_api_key {
        width: 100%;
        display: block;
        text-align: center;
        font-family: monospace;
    }

}