@import "../header";

.CodeMirror.CodeMirror-wrap {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #8c8f94;
    border-radius: 3px;
}

// #wplng-switcher-preview-container {
//     background-image: repeating-linear-gradient(to bottom, transparent, transparent 2px, #f6f7f7 2px, #f6f7f7 4px), repeating-linear-gradient(to right, #c3c4c7, #c3c4c7 2px, #f6f7f7 2px, #f6f7f7 4px);
// }

.wplng-switcher-preview .wplng-switcher.switcher-preview {

    position: relative;

    .switcher-content {
        display: inline-block;
    }

    &.style-dropdown {

        height: 38px;

        .switcher-content {
            position: absolute;
            right: auto;
            left: auto;
        }

    }

}