@import "../header";
@import "../dashicons-spin";
@import "option-page";

#wplng-target-language-template,
#wplng_target_languages,
#wplng-flags-radio-original-website-custom,
#wplng-website-flag-container,
.wplng-flag-target-container,
.wplng-subflag-target-custom.hide {
    display: none;
}

#wplng-notice-first-loading-loading {
    background-color: rgba(114, 174, 230,.33);
    text-align: center;
}

#wplng-notice-first-loading-loaded {
    background-color: rgba(0, 255, 0, .05);
    text-align: center;

    .button {
        font-size: 1.1em;
        font-weight: 600;
        padding-bottom: 2px;
        margin-bottom: 8px;
    }

    button.notice-dismiss {
        padding-top: 20px;
    }
}

#wplng_website_language {
    position: relative;
    left: 7px;
}

#wplng-website-language-box {

    border: 1px solid #8c8f94;
    padding: 5px 10px 8px 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 3px;

    .wplng-website-language-displayed {

        display: flex;
        justify-content: space-between;

        #wplng-website-flag {
            padding-right: 7px;
            box-sizing: content-box;
        }

    }

    #wplng-flag-website-container {
        display: none;
        text-align: center;
        border-top: 1px solid lightgray;
        padding: 10px 0 6px;
        margin-top: 8px;
    }

}

#wplng-website-flag-container,
.wplng-subflag-target-custom {
    margin-top: 15px;
}

#wplng_add_new_target_language {
    width: calc(100% - 55px);
}

#wplng-flags-radio-original-website,
.wplng-subflags-radio-target-website {
    line-height: 2em;
}

#wplng-target-languages-list {

    .wplng-target-language {

        border: 1px solid #8c8f94;
        padding: 5px 10px 8px 10px;
        margin-top: 10px;
        background-color: white;
        border-radius: 3px;

        .wplng-target-language-displayed {

            display: flex;
            justify-content: space-between;

            .wplng-target-lang-remove {
                &::before {
                    content: "|";
                    display: inline;
                    color: #8c8f94;
                    text-decoration: none;
                    margin-right: 5px;
                    font-weight: lighter;
                }
            }

        }

        .wplng-flag-target-container {
            text-align: center;
            border-top: 1px solid lightgray;
            padding: 10px 0 6px;
            margin-top: 8px;
        }
    }
}

#wplng-website-flag,
.wplng-target-language img.wplng-target-flag,
.wplng-flags-radio img,
.wplng-subflags-radio img {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    margin-bottom: -6px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .2));
}

.wplng-flags-radio,
.wplng-subflags-radio {
    padding-left: 15px;
    display: inline-block;
}

.wplng-target-flag {
    padding-right: 7px;
    width: auto;
}

#wplng-api-key-fake,
#wplng_api_key {
    width: calc(100% - 55px);
    font-family: monospace;
}

@media screen and (max-width: 782px) {

    .wplng-form-table {

        #wplng_website_language {
            position: unset;
        }

        #wplng-website-language-box {
            padding: 10px 15px 12px 10px;
        }

        #wplng-api-key-fake,
        #wplng_api_key,
        #wplng_add_new_target_language {
            max-width: calc(100% - 55px);
            display: inline-block;
        }

        #wplng-flags-radio-original-website,
        .wplng-subflags-radio-target-website {
            line-height: 2.5em;
        }

        #wplng-target-languages-list {
            .wplng-target-language {
                padding: 10px 15px 12px 10px;
            }
        }

    }

}