@import "../header";
@import "admin-footer";
@import "help-box";
@import "option-page";

.wplng-form-table {

    .button {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    #wplng_api_key {
        width: 100%;
        display: block;
        text-align: center;
        font-family: monospace;
    }

    #wplng-register-success-message {
        border: 2px solid #00a32a;
        background-color: rgba(0, 255, 0, .05);

        #wplng-register-success-title {
            font-weight: 600;
            color: #00a32a;
        }

        #wplng-register-success-mail {
            color: #00a32a;
        }

        hr {
            border-bottom-color: #00a32a;
        }
    }

    .wplng-td-last {
        margin-bottom: 64px;
    }

}