@import "../header";

#post-body-content {
    display: none;
}

#wplng_meta_box_translation {

    label {
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
    }

    .wplng-original-language {
        margin: 20px 0 30px;
    }

    .wplng-edit-language {

        border: 1px solid #c3c4c7;
        padding: 10px;
        margin-top: 25px;
        background-color: #f6f7f7;

        textarea {
            overflow: hidden;
            width: 100%;
            resize: none;
        }

        .wplng-status {
            color: #8c8f94;

            transition: all .8s;

            &:hover {
                color: #3c434a;
            }
        }
    }
}

