@import "../header";
@import "../dashicons-spin";

#post-body-content {
    display: none;
}

#wplng_meta_box_translation {

    #wplng-source-title {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .wplng-flag {
        max-width: 1.5em;
        max-height: 1.5em;
        height: auto;
        margin-right: .4em;
        vertical-align: text-top;
    }

    #wplng-source {
        font-size: 1.1em;
    }

    #wplng-original-language {
        margin: 20px 0 0;
    }

    .wplng-edit-language {

        border: 1px solid #c3c4c7;
        padding: 10px;
        margin-top: 25px;
        background-color: #f6f7f7;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px 0px;

        &.wplng-status-reviewed {
            border-left: 4px #00a32a solid;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.wplng-status-generated {
            border-left: 4px #72aee6 solid;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.wplng-status-ungenerated {
            border-left: 4px #c3c4c7 solid;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        label.wplng-target-title {
            font-weight: 700;
            margin-bottom: 8px;
            display: block;
        }

        textarea {
            overflow: hidden;
            width: 100%;
            resize: none;
        }

        .wplng-translation-footer {

            color: #3c434a;
            display: flex;
            justify-content: space-between;
            margin-top: 4px;

            a:focus {
                box-shadow: none;
            }

            // .wplng-status,
            // .wplng-mark-as-reviewed,
            // .wplng-generate {

            //     opacity: .6;
            //     transition: all .8s;


            //     &:hover {
            //         opacity: 1;
            //     }

            // }

            .wplng-mark-as-reviewed {

                display: inline-block;

                label {
                    color: #2271b1;
                    display: contents;
                    // border-right: 1px solid #c3c4c7;
                    // padding-right: 4px;
                    text-decoration: underline;
                    display: inline;
                    vertical-align: baseline;
                }
            }


        }

    }

}

@media only screen and (max-width: 850px) {
    #wplng_meta_box_translation {
        .wplng-edit-language {
            .wplng-translation-footer {

                display: block;
                margin-top: 0;

                .wplng-translation-footer-left,
                .wplng-translation-footer-right {
                    padding-top: 8px;
                }
            }
        }
    }
}